src/main/xsd/employee1/employeel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element name="department">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="departmentName"/>
              <xs:element type="xs:string" name="addr"/>
              <xs:element type="xs:string" name="cty"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="experience" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ttle"/>
              <xs:element type="xs:string" name="note"/>
              <xs:element type="xs:byte" name="year"/>
              <xs:element type="xs:byte" name="grade"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="employeeid"/>
    </xs:complexType>
  </xs:element>
</xs:schema>